body {
  background-color: #490660;
}

.form-registration {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.8rem;
    height: 500px;
    width: 880px;
    border-radius: 30px;
    background-color: rgba(95, 8, 40, 0.7799999713897705);
    h2 {
      color: #ffffff;
      font-size: 30px;
      font-family: Magra;
      line-height: auto;
      border-style: hidden;
      outline: none;
    }
    input {
      text-align: center;
      color: #ffffff;
      font-size: 18px;
      font-family: "Magra", sans-serif;
      background-color: transparent;
      height: 39px;
      width: 413px;
      border-radius: 45px;
      outline: none; 
      border: 3px solid #ffffff;
      &::placeholder {
        color: #ffffff;
        font-size: 18px;
        font-family: Magra;
        line-height: auto;
        outline: none;
      }
    }
    button {
      background-color: #d9d9d9;
      height: 37px;
      width: 343px;
      border-radius: 45px;
      outline: #ffff;
      color: #000000;
      text-align: center;
      vertical-align: text-top;
      font-size: 26px;
      font-family: Magra;
      line-height: auto;
      border-style: hidden;
      outline: none;
      &:hover{
        color: #ffff;
        background-color: #ffffff3e;
      }
    }
  }
}
