body {
  background-color: #490660;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  gap: 1rem;
  .block_count {
    display: flex;
    img {
      height: 122px;
      width: 152px;
    }
    h2 {
      color: #ffffff;
      text-align: left;
      vertical-align: text-top;
      font-size: 50px;
      font-family: Maiden Orange;
      line-height: auto;
      border-style: hidden;
      outline: none;
    }
  }
  .block_click {
    img {
      height: 180px;
      width: 250px;
      border-radius: 50%;
      border: 5px solid white;
    }
  }
}
